.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTask form {
  padding: 0.5rem 1rem;
  margin: 3rem 0;
  width: 100%;
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.2rem;
}

.addTask input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
}

.addTask button {
  padding: 0.5rem 1rem;
  color: var(--white-text);
  background-color: var(--green-button);
  box-sizing: border-box;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
