footer {
  margin: 0.5rem auto;
  padding: 1rem;
  width: 100%;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow);
}