.tasklist li {
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}

span {
  margin: 0.5rem 0;
}

.completed {
  box-shadow: 0 2px 8px var(--green-border);
}

.incompleted {
  box-shadow: 0 2px 8px var(--red-border);
}

.delete {
  color: var(--white-text);
  background-color: var(--red-button);
}

button {
  width: 5rem;
  height: 1.8rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
